@use 'utils/variables.scss' as *;
@use 'blocks/calendar';

:root {
  font-family: $calendar-font;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
